body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.family-member-card {
    max-width: 200px;
    margin:1rem;
    display: inline-block !important;
}

.family-member-card-content {
    padding: 1rem;
}

.clean-margin {
    margin: 0;
}

.padding-1 {
    padding: 1rem;
}

.margin-1 {
    margin: 1rem;
}

.family-member-list-item .mat-layout-grid {
    padding: 0.2rem 0.5rem;
}

.family-member-list-item .mat-layout-grid-cell {
    display: flex; 
    align-items: center;
}

.family-member-list-item .mat-layout-grid-cell img {
    max-width: 56px; 
    height: auto;
}

